.a: hover {
 -fx-border-color: #660099;
 -fx-border-width: 0px 0px 3px 0px;
 }

 .b: hover {
 -fx-border-color: #00ff66;
 -fx-border-width: 0px 0px 3px 0px;
 }

 .c: hover {
 -fx-border-color: #0099ff;
 -fx-border-width: 0px 0px 3px 0px;
 }

 .d: hover {
 -fx-border-color: #ff0033;
 -fx-border-width: 0px 0px 3px 0px;
 }

